<!DOCTYPE html>
<html>
<head>
    <Title>Add Listings</Title>
    <link rel="stylesheet" href="../styles.css">
    <script defer src="../main.js"></script>
<head> 
    <body>
    <header>
        <h1>Add a Listing</h1>
        <input id="item-name" placeholder="Search...">
        <a href="../userpages/saved_page.html" target="_blank" id="sign-in">Sign in</a>
    </header>
    
    <div class="container">
    <div id="listing-div">
        <label for="input-name">Name</label>
        <input id="input-name">
        <label for="input-price">Price</label>
        <input id="input-price">
        <label for="input-description">Description</label>
        <input id="input-description">
        <label for="input-condition">Condition</label>
        <input id="input-condition">
        <label fpr="input-brand">Brand</label>
        <input id="input-brand">
        <label for="input-contact-info">Phone Number</label>
        <input id="input-contact-info">
        <button id="input-button" onclick=readListingInfo()>submit</button>
    </div>
    </div>
    </body>