<!DOCTYPE html>
<html>
<head>
    <Title>Listings</Title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <header>
        <h1>UF Marketplace</h1>
        <input id="item-name" placeholder="Search...">
        <a href="../userpages/saved_page.html" target="_blank" id="saved">Saved</a>
        <a href="../userpages/saved_page.html" target="_blank" id="sign-in">Sign in</a>
        <!-- <img src="https://cdn-icons-png.flaticon.com/512/54/54966.png" class="card-img-top" alt="Image of a _____"></img> -->
    </header>

    <!-- <div class="banner">
        <img src="" alt="Description of Image">
    </div> -->

    <!-- row one -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-3">
                    <img src="https://redraideroutfitter.com/cdn/shop/products/Beach_Boys_True_To_Your_School_Shirt__48376.jpg?v=1665784907" class="card-img-top" alt="Image of a _____"></img>
                    <div class="card-body">
                        <h5 class="card-title">Insert title for clothing</h5>
                        <p class="card-text">Insert description of item here</p>
                        <a href="../productpages/shirt.html">Go to page</a>
                        <hr>
                        <button id="save-item">Save item</button>
                        <p>Count: <span id="count">0</span></p>

                        <script src="script.js"></script>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                    <img src="https://redraideroutfitter.com/cdn/shop/products/Beach_Boys_True_To_Your_School_Shirt__48376.jpg?v=1665784907" class="card-img-top" alt="Image of a _____"></img>
                    <div class="card-body">
                        <h5 class="card-title">Insert title for clothing</h5>
                        <p class="card-text">Insert description of item here</p>
                        <a href="../productpages/shirt.html">Go to page</a>
                        <hr>
                        <button id="save-item">Save item</button>
                        <p>Count: <span id="count">0</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                    <img src="https://redraideroutfitter.com/cdn/shop/products/Beach_Boys_True_To_Your_School_Shirt__48376.jpg?v=1665784907" class="card-img-top" alt="Image of a _____"></img>
                    <div class="card-body">
                        <h5 class="card-title">Insert title for clothing</h5>
                        <p class="card-text">Insert description of item here</p>
                        <a href="../productpages/shirt.html">Go to page</a>
                        <hr>
                        <button id="save-item">Save item</button>
                        <p>Count: <span id="count">0</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                    <img src="https://redraideroutfitter.com/cdn/shop/products/Beach_Boys_True_To_Your_School_Shirt__48376.jpg?v=1665784907" class="card-img-top" alt="Image of a _____"></img>
                    <div class="card-body">
                        <h5 class="card-title">Insert title for clothing</h5>
                        <p class="card-text">Insert description of item here</p>
                        <a href="../productpages/shirt.html">Go to page</a>
                        <hr>
                        <button id="save-item">Save item</button>
                        <p>Count: <span id="count">0</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- row two -->
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card mb-3">
                        <img src="https://redraideroutfitter.com/cdn/shop/products/Beach_Boys_True_To_Your_School_Shirt__48376.jpg?v=1665784907" class="card-img-top" alt="Image of a _____"></img>
                        <div class="card-body">
                            <h5 class="card-title">Insert title for clothing</h5>
                            <p class="card-text">Insert description of item here</p>
                            <a href="../productpages/shirt.html">Go to page</a>
                            <hr>
                            <button id="save-item">Save item</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-3">
                        <img src="https://redraideroutfitter.com/cdn/shop/products/Beach_Boys_True_To_Your_School_Shirt__48376.jpg?v=1665784907" class="card-img-top" alt="Image of a _____"></img>
                        <div class="card-body">
                            <h5 class="card-title">Insert title for clothing</h5>
                            <p class="card-text">Insert description of item here</p>
                            <a href="../productpages/shirt.html">Go to page</a>
                            <hr>
                        <button id="save-item">Save item</button>
                        <p>Count: <span id="count">0</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-3">
                        <img src="https://redraideroutfitter.com/cdn/shop/products/Beach_Boys_True_To_Your_School_Shirt__48376.jpg?v=1665784907" class="card-img-top" alt="Image of a _____"></img>
                        <div class="card-body">
                            <h5 class="card-title">Insert title for clothing</h5>
                            <p class="card-text">Insert description of item here</p>
                            <a href="../productpages/shirt.html">Go to page</a>
                            <hr>
                        <button id="save-item">Save item</button>
                        <p>Count: <span id="count">0</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-3">
                        <img src="https://redraideroutfitter.com/cdn/shop/products/Beach_Boys_True_To_Your_School_Shirt__48376.jpg?v=1665784907" class="card-img-top" alt="Image of a _____"></img>
                        <div class="card-body">
                            <h5 class="card-title">Insert title for clothing</h5>
                            <p class="card-text">Insert description of item here</p>
                            <a href="../productpages/shirt.html">Go to page</a>
                            <hr>
                        <button id="save-item">Save item</button>
                        <p>Count: <span id="count">0</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- row three -->
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card mb-3">
                        <img src="https://redraideroutfitter.com/cdn/shop/products/Beach_Boys_True_To_Your_School_Shirt__48376.jpg?v=1665784907" class="card-img-top" alt="Image of a _____"></img>
                        <div class="card-body">
                            <h5 class="card-title">Insert title for clothing</h5>
                            <p class="card-text">Insert description of item here</p>
                            <a href="../productpages/shirt.html">Go to page</a>
                            <hr>
                            <button id="save-item">Save item</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-3">
                        <img src="https://redraideroutfitter.com/cdn/shop/products/Beach_Boys_True_To_Your_School_Shirt__48376.jpg?v=1665784907" class="card-img-top" alt="Image of a _____"></img>
                        <div class="card-body">
                            <h5 class="card-title">Insert title for clothing</h5>
                            <p class="card-text">Insert description of item here</p>
                            <a href="../productpages/shirt.html">Go to page</a>
                            <hr>
                            <button id="save-item">Save item</button>
                            <p>Count: <span id="count">0</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-3">
                        <img src="https://redraideroutfitter.com/cdn/shop/products/Beach_Boys_True_To_Your_School_Shirt__48376.jpg?v=1665784907" class="card-img-top" alt="Image of a _____"></img>
                        <div class="card-body">
                            <h5 class="card-title">Insert title for clothing</h5>
                            <p class="card-text">Insert description of item here</p>
                            <a href="../productpages/shirt.html">Go to page</a>
                            <hr>
                            <button id="save-item">Save item</button>
                            <p>Count: <span id="count">0</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-3">
                        <img src="https://redraideroutfitter.com/cdn/shop/products/Beach_Boys_True_To_Your_School_Shirt__48376.jpg?v=1665784907" class="card-img-top" alt="Image of a _____"></img>
                        <div class="card-body">
                            <h5 class="card-title">Insert title for clothing</h5>
                            <p class="card-text">Insert description of item here</p>
                            <a href="../productpages/shirt.html">Go to page</a>
                            <hr>
                            <button id="save-item">Save item</button>
                            <p>Count: <span id="count">0</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="bottomBanner">
        <p> </p>   
    </div>

    <script defer src="../main.js"></script>
    
</body>
</html>